/*parent*/
.parent{
	position: absolute;
}
	/*jumbotron*/
	#logout{
		float: right;
	}

/*child */
.child{
	position: relative;
}
.grandchild-house{
	position: absolute;
}

/*grandchild*/
.grandchild{
	position: relative;
/*	left: 75%;
*/}